<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>dev.peppy.mobile.contacts-refresh</string>
		<string>dev.peppy.mobile.contacts-processing</string>
	</array>
	<key>NSContactsUsageDescription</key>
	<string>Peppy syncs contacts you choose to share with your Peppy server.</string>
	<key>NSCameraUsageDescription</key>
	<string>Peppy needs the camera to scan a pairing QR code from an enrolled device.</string>
	<key>PEPPY_GOOGLE_IOS_CLIENT_ID</key>
	<string>$(PEPPY_GOOGLE_IOS_CLIENT_ID)</string>
	<key>PEPPY_GOOGLE_NATIVE_SERVER_CLIENT_ID</key>
	<string>$(PEPPY_GOOGLE_NATIVE_SERVER_CLIENT_ID)</string>
	<key>PEPPY_GOOGLE_REVERSED_CLIENT_ID</key>
	<string>$(PEPPY_GOOGLE_REVERSED_CLIENT_ID)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PEPPY_GOOGLE_REVERSED_CLIENT_ID)</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
